<div class="card__wrapper js-card-flip">
  <div class="card__flip-card">

    <div class="card-front__wrapper">
      <div class="card-front__image"></div>
      <div class="card-front__content">
        <h2><%= cocktail.name %></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio sed, illo, blanditiis ullam a qui? Ducimus expedita.</p>

        <%= link_to 'View Page', cocktail_path(cocktail) %>
      </div>
    </div>

    <div class="card-back__wrapper">
      <div class="card-back__content">
        <h3><%= cocktail.name %></h3>
        <ul class="card-back__doses-list">
          <% cocktail.doses.each do |dose| %>
            <li>
              <%= dose.ingredient.name %> - <%= dose.description %>
            </li>
          <% end %>
        </ul>
      </div>
      <%= simple_form_for([cocktail, @dose]) do |f| %>
        <%= f.input :description, placeholder: 'Description here', label: false %>
        <%= f.association :ingredient, prompt: 'Select an ingredient', label: false %>
        <%= f.submit 'Add a dose', class: 'btn btn-add-dose' %>
      <% end %>
    </div>

  </div>
</div>
