<h1>What's inside a <%= @cocktail.name %></h1>

<%= simple_form_for([@cocktail, @dose]) do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.submit 'Add your poison!', class: 'btn btn-primary' %>
<% end %>
